p{
    color: blue;
    size: 35px;
    align-self: auto;
}

h1{
    font-family: monospace;
    font-size: 80px;
    text-align: center;
    color: brown;
    text-shadow: 4px;
}

body{
    background-color: bisque;
    text-align: center;

}
h2{
    font-size: larger;
    text-align: center;
    font-style: italic;
}
